

.contact-title {
    /* text-align: center; */
    margin-top: 20px;
   text-transform: uppercase;
    font-weight: 700;
    font-size: 18.42px;    
    letter-spacing: 1.25px;
}

.contact-form{
    width:100%;
    display: flex;
    height:520px;
}

.enquiry-data{
    width:40%;
    font-size: 20px;
    margin-left:50px;
    margin-top: 30px;
}

.user-field{
 width: 100%;
 display: flex;
    justify-content: center;
padding-bottom: 10px;

}

#user-data{
    width: 280px;
    height: 22px;
    margin-left: 10px;
    font-size: 13px;
    padding: 3  10;
    border-radius: 6px;
    /* border-bottom: 2px solid rgba(189, 189, 189, 0.719); */
    border-left: 0px solid rgba(177, 177, 177, 0.719);
    border-top: 0px solid rgba(189, 189, 189, 0.719);
    border-right: 0px solid rgba(177, 177, 177, 0.719);
    box-shadow: 0px 0.6px 2px rgba(0, 0, 0, 0.1);}


#user-desc{
    width: 472px;
    line-height: 20px;
    height: 20px;
    margin-left: 0px;
    height:80px;
    border-radius: 6px;
    border-bottom: 0.3px solid rgba(189, 189, 189, 0.719);
    border-left: 0px solid rgba(177, 177, 177, 0.719);
    border-top: 0px solid rgba(252, 252, 252, 0.205);
    border-right: 0px solid rgba(177, 177, 177, 0.719);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);}

#user-item{
    text-align: left;
    width:180px;
    font-size: 18px;
    letter-spacing: 1.86px;
    text-transform: uppercase;
    color :rgba(20, 20, 20, 0.925);
    font-weight: 700;
}


.flip-cards{
    width:48%;
    margin-left: 20px;
    
}


.send-button{
    text-align: right;
    margin-top: 10px;
    font-size: 22px;
    /* border-top: 0px; */
}

.line{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    height:2px;
    background-color: #3C91E6;
    width:98%;
    transition: width .92s ease-in-out;
    transition-duration: 2200ms;
    text-align: center;
    transform: translateY(-10px);
}
.line-animate{
    width:0px;
    height:2px;
    transition : width 1.8s ease-in-out;
    /* transition-duration: 2800ms; */
     
}

::placeholder{
   color: rgba(56, 56, 56, 0.459);
   padding-left: 10px;
   line-height:20px; 
   font-family: 'Poppins', sans-serif;
   letter-spacing: 1.2px;
}


#send-click{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 20px;
    padding: 2px 18px;
    display: inline-block;
    background-color:rgba(250, 250, 250, 0.815);
    transition: .1s ease-in;
    font-weight: 600;
    text-transform: uppercase;
  
    color:#3C91E6;
    border-radius: 8px;
    border: 2px solid rgba(230, 230, 230, 0.719);

    border-bottom: 2px solid rgba(189, 189, 189, 0.719);
    border-left: 2px solid rgba(177, 177, 177, 0.719);
    box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.1);
    letter-spacing: 1.48px;
}


#send-click:hover{
    font-size: 20px;
    transform: scale(0.95);
    font-weight: 900;
    color:white;
    background-color:#3C91E6;
    border: 3px solid #3C91E6;
    border-radius: 8px;
    transition: 2.s ease-out;
    
}

#bar {
    padding: 5px 20px 0px 20px;
    border-left: 1px solid rgba(177, 177, 177, 0.301);
    border-radius: 6px 6px 0px 0px;
    border-bottom: 0px;
    z-index: 0;
    position: relative;
    letter-spacing: 1.60px;
    border-top: 2px solid rgba(29, 29, 29, 0.644);
    color:whitesmoke;
    background-color: #3C91E6;
    
}

#bar:hover {
    border-top: 2px solid #3C91E6;
    color :#3C91E6;
    background-color: rgba(250, 250, 250, 0.815);
    transition: .2s ease-in-out;
    font-weight:800;
    letter-spacing: 1.66px;
}

#user-container{
    margin-top: -2px;
    background-color: rgba(250, 250, 250, 0.815);
    padding-top:30px;
    /* margin-top:30px; */
    padding-bottom:30px;
    border-radius:  0px 0px 6px 6px;
    /* border-top: 1px solid rgba(179, 179, 179, 0.301); */
    /* border-right: 1px solid rgba(177, 177, 177, 0.301); */
    border-left: 1px solid rgba(177, 177, 177, 0.301);
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.1);
}


.border-card{
    padding-top:20px;
    /* margin-top:30px; */
    padding-bottom:30px;
    border-radius:  0px 6px 6px 6px;
    border-left: 1px solid rgba(177, 177, 177, 0.301);
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1);

}

.flip-card{
    display:flex;
    justify-content: center;
    width: 360px;
    height: 90px;
    border: 1px soldi #ccc;
    border-radius: 6px;
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.1);
}

#pastor-img{
    height:60px;
    width:auto;
    
    background-size: contain;
}


.pastor-image{
    height:60px;
    width:60px;
    border-radius: 50%;
    background-size: contain;
    overflow:hidden;
}

.pastor-contact{
    width:auto;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.pastor-name{
font-size: 20px;
font-weight: 800;
letter-spacing: 1.18px;

}

.pastor-bio{
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.18px;
}

.pastor-details{
margin-left:20px;
}

.show-contact{
    margin-left: 12px
    /* display:block;
    position: absolute;
    top: 346px;
    right: 230px; */
}

#show-icon{
    transform: rotate(-90deg);
    font-size: 28px;
    line-height: 23px;
    /* color: whitesmoke; */
    display: block;
    padding: 1px -14px;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    /* background-color: #3C91E6; */
    text-align: center;
    font-family: monospace;
}