<link rel="stylesheet" type="text/css" href="css/about.css" />
<link rel="stylesheet" type="text/css" href="css/ministries.css" />

<div class="bg-clipper-1">
    <div class="foreground-image">
        <img class="fd-imgs" src="images/bg.jpg" alt="image.jpg">
    </div>
</div>
<div class="overlay-title">
    <p class="title-text">About</p>
</div>

<!--    Body  -->

<div class="a-container">
    <div class="a-into">
        <div class="a-title"> What We Are </div>
        <div class="a-body-holder">
            <div class="a-links">
                <a>Summary</a>
                <a>History</a>
            </div>
            <div class="a-body"> We are a community of more than 300 members. The revival happening at the Church is
                nothing short of miraculous. Individuals are consistently being saved, baptized in the name of the
                Father,
                the Son and the Holy spirit and receiving the gift of the Holy Spirit. Our services usher in the
                presence
                of God with a genuine freedom of worship, and allow you to connect with the spirit of God in an
                unprecedented way.
                Our Church not only offers a connection to God, but also acts as a family. Under the direction of our
                pastors and elders, several ministries have been started to meet the needs of today.
                Church of God- Sharjah provides something for everyone: a growing and powerful youth group, an
                outstanding
                Scripture School program (Beginners to Grade 12), Ladies meetings, monthly zonal groups, charity and
                outreach
                ministries, mission stations and much more.</div>
        </div>

    </div>

    <div class="a-container">
        <div class="a-heading">Current Pastors</div>
        <div style="margin: 0 auto;display: flex; text-align:center;justify-content:space-evenly; width:80%;">
            <div class="a-pastors">
                <div class="pastor-card">
                    <div class="pr-img-wrap">
                        <img class="pastor-card-img"  style="transform: scale(1.15)translatey(10px);" src="images/pastors/pr.mathew.jpg" />
                    </div>
                    <div class="pastor-card-name">Pr. Mathew T Samuel</div>
                    <div class="pastor-card-active">2018 - Present</div>
                    <div style="color: #5F5F5F;text-align: left;margin-left: 10px;padding-bottom: 4px;font-size: 14px;">Bio</div>
                    <div class="pastor-card-details"> Our Church not only offers a connection to God, but also acts as
                        a
                        family. Under the direction of our
                        pastors and elders, several ministries have been started to meet the needs of today.
                        Church of God- Sharjah provides something for everyone</div>
                </div>
            </div>

            <div class="a-pastors">
                <div class="pastor-card">
                    <div class="pr-img-wrap">
                        <img class="pastor-card-img" src="images/logo.png" />
                    </div>
                    <div class="pastor-card-name">Pr. Mathew T Samuel</div>
                    <div class="pastor-card-active">2018 - Present</div>
                    <div style="color: #5F5F5F;text-align: left;margin-left: 10px;padding-bottom: 4px;font-size: 14px;">Bio</div>
                    <div class="pastor-card-details"> Our Church not only offers a connection to God, but also acts as
                        a
                        family. Under the direction of our
                        pastors and elders, several ministries have been started to meet the needs of today.
                        Church of God- Sharjah provides something for everyone</div>
                </div>
            </div>
        </div>
    </div>
</div>