<link rel="stylesheet" type="text/css" href="/public/css/ministries.css"/>
<link rel="stylesheet" type="text/css" href="/public/css/contact.css"/>

<!--BG- Images-->
<div>
    <div class="bg-clipper-1">
        <div class="foreground-image">
            <img class="fd-imgs" src="images/bg.jpg" alt="image.jpg">
        </div>
    </div>
    <div class="overlay-title">
        <p class="title-text">Contact Us</p>
    </div>

    <div class="c-container">
        <div>
            <div>

            </div>
            <div class="contact-form">
                <div class="enquiry-data">
                    <div class="contact-title"><span id="bar" >Enquiries</span>
                    <span id="bar">Prayer Requests</span>
                    <span id="bar">Updates</span></div>
                    <div id="user-container">
                        <div class="user-field">
                            <label id="user-item"> Name</label> : <input id="user-data" type="text" placeholder="Hello, there." /></div>
                        <div class="user-field">
                            <label id="user-item"> email</label> : <input id="user-data" type="text" placeholder="address" /></div>
                        <div class="user-field">
                            <label id="user-item"> Phone</label> : <input id="user-data" type="text" placeholder="digits" /></div>
                        <div class="user-field">
                            <label id="user-item"> Issue</label> : <input id="user-data" type="text" placeholder="concerns" /></div>
                        <div class="user-field">
                            <div>
                                <textarea id="user-desc" placeholder="more details..."></textarea>
                            </div>
                        </div>
                    </div>
                    <div onload="lineAnimate()" class="line"></div>
                    <div class="send-button">
                        <div id="send-click">Submit</div>
                    </div>

                </div>
                <div class="flip-cards">
                    <div class="flip-card">
                        <div class="pastor-contact">
                            <div class="pastor-image"></div>
                            <div class="pastor-details"></div>
                            <div class="show-contact"></div>
                        </div>
                        <div class="pastor-no"></div>
                    </div>

                    <div class="flip-card">
                        <div class="pastor-contact">
                            <div class="pastor-image"></div>
                            <div class="pastor-details"></div>
                            <div class="show-contact"></div>
                        </div>
                        <div class="pastor-no"></div>
                    </div>

                    <div class="flip-card">
                        <div class="pastor-contact">
                            <div class="get-us"></div>
                            <div class="show-contact"></div>
                        </div>
                        <div class="pastor-no"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>