<div class="footer">
    <div class="footer-location">
            <div class="f-title">Where we are located</div>
            <div class="f-address">5125 Union Church,
                Sharjah,</div>
            <div class="f-address">United Arab Emirates </div>

            <div class="f-address">Phone: 863-607-4040</div>
        </div>
      
<!--Footer Service Note--> 

<div class="footer-head">
        <div class="footer-divider"></div>
        <div class="footer-timings">
                <div class="f-title">Service</div>
                <div class="f-timings">Friday 10AM - 1: 15PM</div>
                <div class="f-timings">Sunday 8PM - 10PM</div>
            </div>
    
    <div class="footer-timings">
        <div class="f-title">Youth</div>
        <div class="f-timings">S.S - kids, Saturdays 6PM - 8PM</div>
        <div class="f-timings">Y.P.E, Thursday 6PM - 8PM</div>
    </div>
    <div class="footer-timings">
        <div class="f-title">Ministries</div>
        <div class="f-timings">Manama, Friday 6PM - 8PM</div>
        <div class="f-timings">Sonapur, Wednesday 6PM - 8PM</div>
    </div>
</div>

<div class="div-bottom">
    <img id="footer-logo" src="images/logo.png" />
    <p id="footer-line">Church Of God, Sharjag Inc. 1993 © Managed by COGS Labs</p>
</div>
</div>