<div class="navbar-main">
    <ul>
        <li>
            <div class="navbar-item">
                <a href="#!/ministries"> Ministries </a>
            </div>
        </li>
        <li>
            <div class="navbar-item" href="/gallery">
                <a href="#!/gallery"> Gallery </a>
            </div>
        </li>
        <li>
            <div class="home-nav">
                <a href="#!/home"><img class="home" src="images\monochrome-logo-white.png"/></a>
            </div>
        </li>
        <li>
            <div class="navbar-item" href="/home">
                <a href="#!/about"> About </a>
            </div>
        </li>
        <li>
            <div class="navbar-item" href="#/home">
                <a href="#!/contact"> Contact </a>
            </div>
        </li>

    </ul>
</div>