<link rel="stylesheet" type="text/css" href="/public/css/ministries.css"/>

<!--BG- Images-->
<div>
<div class="bg-clipper-1">
    <div class="foreground-image">
        <img class="fd-imgs" src="images/bg.jpg" alt="image.jpg">
    </div>
</div>
<div class="overlay-title">
    <p class="title-text">Ministries</p>
</div>

<div ng-repeat="org in data" class="cogs" style="display: block" >
        <div class="m-title">{{org.org}}</div>
        <div style="display:flex;justify-content: center;">
    <div class="m-section">
        <div class="m-links"  ng-click="bio(org)">Bio</div>
        <div class="m-links" ng-click="gallery(org)">Gallery</div>
        <div class="m-links" ng-click="members(org)">Active Members</div>
        <div class="m-links" ng-click="locations(org)">Locations</div>
        <div class="m-links" ng-click="contact(org)">Contact</div>
    </div>
  
    <div class="cogs-container" style="height:200px;">
            <div id="m-about" ng-class="org.key">
                    {{org.Bio}}
                </div>
    </div>
</div>
</div>
</div>

<script>
 
 
//  let ele = document.querySelector('.m-links').addEventListener(click, function (value) {
//                         if(event.target.classList.contains('m-about')){
//                             let ele1 = document.querySelector("#m-about");
//                     console.log(ele1);
//                     ele1.textContent =  val.Contact;
//                         }
//                 });

</script>



