<!--BG- Images-->
<div class="bg-clipper">
    <div class="foreground-image">
        <img class="fd-img" src="images/12.jpg" alt="image.jpg">
    </div>
</div>
<div class="quote">
    <p class="quote-text">We preach, Christ crucified.</p>
</div>

<!-- Carousal-->

<div class="carousal-container">
    <div class="carousal-item">
        <div class="carousal-image">
            <img class="c-img" src="images/Prayer-hands.jpg" alt="image.jpg">
        </div>
        <div class="carousal-card">
            <div class="carousal-offset">
                <div class="carousal-title">Need Prayer?</div>
                <div class="carousal-body">Prayer, simply put, is a means to talk to God. The Bible declares
                    that God is ever present and listens intently on all our prayers. If you want someone to
                    pray with you contact us here. No situation is too small or too big for God!
                </div>
            </div>
        </div>
    </div>
</div>


<!-- COGS Description-->

<div class="cogs">
    <div class="cogs-logo">
        <img src="images/logo.png" alt="logo" />
    </div>
    <div class="cogs-container">
        <div class="cogs-title">Church Of God, Sharjah</div>
        <div style="color:black" class="about-cogs">
            The church’s mission is threefold:

            To establish and maintain a place of worship of the Almighty God our heavenly Father, and of the
            Lord
            Jesus Christ, God’s only begotten Son, and of the Holy Spirit

            To promote Christian fellowship and edification

            To obey the great commission
        </div>
    </div>
</div>


<!-- Timings-->

<div class="schedule-title">Schedule </div>
<div class="schedule-line"></div>

<div class="slider-wrapper">
    <div class="timing-carousal ">
        <div class="service-list">
            <div class="service-timings">

                <div class="service-liners">
                    <div class="service-title">
                        <h4>Service Timings</h4>
                    </div>
                </div>
                <div class="service-liners">
                    <div class="service-notes">
                        <div class="service-time">
                            <p class="week-day0">Fridays</p>
                            <p class="week-time"> 10AM - 1:15PM</p>
                            <p class="venue-note0"><span class="venue-hall"> Hall no. 1</span>
                                Union Church, Sharjah</p>
                        </div>
                    </div>
                </div>
                <div class="service-liners">
                    <div class="service-notes">
                        <div class="service-time">
                            <p class="week-day0">Sundays</p>
                            <p class="week-time"> 8PM - 10PM</p>
                            <p class="venue-note0"><span class="venue-hall"> Hall no. 6</span>
                                Union Church, Sharjah</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ss-timings" href="#/other">
            <div class="service-liners">

                <div class="service-notes">
                    <div class="service-time">
                        <p class="week-event">Scripture School</p>
                        <p class="week-day">Saturdays</p>
                        <p class="week-time"> 6PM - 8:30PM</p>
                        <p class="venue-note"><span class="venue-hall"> Hall no. 6</span>
                            Union Church, Sharjah</p>
                    </div>
                </div>
            </div>
            <div class="service-liners">

                <div class="service-notes">
                    <div class="service-time">

                        <p class="week-event">Ladies Meeting</p>
                        <p class="week-day">Thursdays</p>
                        <p class="week-time"> 8PM - 10PM</p>
                        <p class="venue-note"><span class="venue-hall"> Hall no. 6</span>
                            Union Church, Sharjah</p>
                    </div>
                </div>
            </div>
            <div class="service-liners">
                <div class="service-notes">
                    <div class="service-time">

                        <p class="week-event">Y.P.E</p>
                        <p class="week-day">Thursdays</p>
                        <p class="week-time"> 8PM - 10PM</p>
                        <p class="venue-note"><span class="venue-hall"> Hall no. 6</span>
                            Union Church, Sharjah</p>
                    </div>
                </div>
            </div>
        </div>


        <div class="fp-timings" href="#/other">
            <div class="service-liners">

                <div class="service-notes">
                    <div class="service-time">
                        <p class="week-event" style="color:rgba(15, 95, 76, 0.534)">Fasting Prayer <span style="display:block;font-size:14px; color: rgba(0, 146, 102, 0.651)">(Month
                                End)</span><span style="display:block;font-size:18px; color: rgb(45, 190, 147)">
                                Day - 1</span></p>
                        <p class="week-day">Wednesday</p>
                        <p class="week-time"> 8PM - 10PM</p>
                        <p class="venue-note"><span class="venue-hall"> Hall no. 6</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="service-liners">

                <div class="service-notes">
                    <div class="service-time">

                        <p class="week-event" style="color:rgba(15, 95, 76, 0.534)">Fasting Prayer <span style="display:block;font-size:14px; color: rgba(0, 146, 102, 0.651)">(Month
                                End)</span><span style="display:block;font-size:18px; color: rgb(45, 190, 147)">
                                Day - 2</span></p>
                        <p class="week-day">Thursday</p>
                        <p class="week-time"> 8PM - 10PM</p>
                        <p class="venue-note"><span class="venue-hall"> Hall no. 6</span></p>
                    </div>
                </div>
            </div>
            <div class="service-liners">
                <div class="service-notes">
                    <div class="service-time">

                        <p class="week-event" style="color:rgba(15, 95, 76, 0.534)">Fasting Prayer <span style="display:block;font-size:14px; color: rgba(0, 146, 102, 0.651)">(Month
                                End)</span><span style="display:block;font-size:18px; color: rgb(45, 190, 147)">Day
                                - 3</span></p>
                        <p class="week-day">Friday</p>
                        <p class="week-time"> 10AM - 1:15PM</p>
                        <p class="venue-note"><span class="venue-hall"> Hall no. 6</span></p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<!--Associations-->

<div class="association">
    <div class="asc-container">
        <div class="cogs-title">Our Ministry</div>
        <div style="color:black" class="about-cogs">
            The ministries of Church of God Sharjah are driven by a desire to give everyone solid biblical direction
            for life. We believe it is the Word of God that brings the clarity and direction we need when we find
            ourselves at difficult crossroads. Our Sunday School Ministry, Youth Sessions, Ladies Meeting, and Special
            Meetings are geared with this purpose in mind.
        </div>
    </div>
</div>